#eventsList {
  position: center;
  width: 80vw;
  overflow-y: scroll;

}

.eventviewtitle {
  font-size: 14px;
  font-weight: bold;
}

.eventview {
  border-style: 1px black solid;
}

.eventview p {
  color: rgba(100,100,100,0.7);
}
